{% load crispy_forms_filters %}

<form method="post" action="{% url 'forum:add_topic' %}" class="crea-topic-form">
    {% csrf_token %}
    <div class="modal-header">
        <h6 class="modal-title">Nuova discussione</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-primary">Crea</button>
    </div>
</form>