<form method="post" action="{% url 'forum:delete_commento' commento.id %}" class="delete-commento-form">
    {% csrf_token %}
    <div class="modal-header">
        <h6 class="modal-title">Vuoi eliminare il commento?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Sei sicuro di voler eliminare il commento?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-danger">Elimina</button>
    </div>
</form>