<form method="post" action="{% url 'forum:delete_topic' topic.id %}" class="delete-topic-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Vuoi eliminare il Topic?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Sei sicuro di voler eliminare la discussione?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-danger">Rimuovi</button>
    </div>
</form>