{% extends 'base.html' %}
{% load static %}
{% block title %}Forum{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img5.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .card:hover {
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }

        .img{
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
        }

        .card-body{
            position:relative;
        }

        .buttons{
            position: absolute;
            top: 10px;
            right: 10px;
        }

        div.flex-box{
            display: flex;
            justify-content: space-between;
            padding-right: 15px!important;
            padding-left: 15px!important;
            margin-bottom: 10px!important;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="flex-box" id="div_btn">
            <span>
                <button type="button" class="btn btn-secondary crea-topic my_btn" data-url="{% url 'forum:add_topic' %}">Crea una nuova discussione <i class="fas fa-plus"></i></button>
            </span>
            <span>
                <form class="form-inline" method="GET" action="">
                    <input class="form-control" type="text" name="q" id="myInput" value="{{ request.GET.q }}" aria-label="Search" placeholder="Cerca discussioni..."/>
                    <input class="btn btn-success" type="submit" value="Cerca"/>
                </form>
            </span>
        </div>
        {% for topic in topics %}
            <div class="container-fluid mt-100" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap wx100 align-items-center">
                                    {% if topic.gymuser_topic.profile_img %}
                                        <img src="{{ topic.gymuser_topic.profile_img.url }}" class="img d-block ui-w-40 rounded-circle" >
                                    {% endif %}
                                    <div class="media-body ml-3"> <span data-abc="true">by {{ topic.gymuser_topic.username }}</span>
                                        <div class="text-muted small">{{ topic.creato }}</div>
                                    </div>
                                    <div id="titolo" class="card-body">
                                        <p>"<b>{{ topic.titolo }}</b>"</p>
                                        <span class="buttons">
                                                    {% if user.id == topic.gymuser_topic.id %}
                                                        <button data-url="{% url 'forum:delete_topic' topic.id %}" class="btn btn-danger delete-topic">elimina</button>
                                                    {% endif %}
                                            <a href="{% url 'forum:topic_info' topic.id %}" class="btn btn-primary my_btn">Vai alla discussione</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <p id="descrizione-topic">{{ topic.descrizione }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if topics.has_previous %}
                    <a href="?{{ page_request_var}}={{ topics.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prec.</a>
                {% endif %}
                <span class="current">
                    Pagina {{ topics.number }} di {{ topics.paginator.num_pages }}
                </span>
                {% if topics.has_next %}
                    <a href="?{{ page_request_var}}={{ topics.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Succ.</a>
                {% endif %}
            </span>
        </div>
        <div class="modal fade" id="modal-topic">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-topic .modal-content").html("");
                        $("#modal-topic").modal("show");
                    },
                    success: function (data) {
                        $("#modal-topic .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            location.reload()
                        } else {
                            $("#modal-topic .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };

            // Crea topic
            $(".crea-topic").click(loadForm);
            $("#modal-topic").on("submit", ".crea-topic-form", saveForm);

            // Delete topic
            $(".delete-topic").click(loadForm);
            $("#modal-topic").on("submit", ".delete-topic-form", saveForm);
        });

    </script>
{% endblock %}