{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}{{ topic.titolo }}{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img9.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .img{
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
        }

        .card-body{
            position:relative;
        }

        .buttons{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="main">
        <a href="{% url 'forum:forum_home' %}" class="btn btn-primary my_btn">Torna al forum</a>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            {% if topic.gymuser_topic.profile_img %}
                                <img src="{{ topic.gymuser_topic.profile_img.url }}" class="img d-block ui-w-40 rounded-circle" >
                            {% endif %}
                            <div class="media-body ml-3">
                                {% if topic.gymuser_topic.is_insegnante %}
                                    <span data-abc="true">by <a href="{% url "gestione_palestra:insegnante_info" topic.gymuser_topic.pk %}">{{ topic.gymuser_topic.username }}</a></span>
                                    <h6><span class="badge badge-success">Staff</span></h6>
                                {% else %}
                                    <span data-abc="true">by {{ topic.gymuser_topic.username }}</span>
                                {% endif %}
                                <div class="text-muted small">{{ topic.creato }}</div>
                            </div>
                            <div id="titolo" class="card-body">
                                <p>"<b>{{ topic.titolo }}</b>"</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ topic.descrizione }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% for commento in commenti %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="padding: 0px">
                        <div class="container-fluid" style="padding: 0px">
                            <div class="card-header col-sm-2" style="float: left">
                                <div class="media flex-wrap w-100 align-items-center">
                                    {% if commento.gymuser_lezione.profile_img %}
                                        <img src="{{ commento.gymuser_lezione.profile_img.url }}" class="img d-block ui-w-40 rounded-circle" >
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    {% if commento.gymuser_lezione.is_insegnante %}
                                        <span data-abc="true">by <a href="{% url "gestione_palestra:insegnante_info" commento.gymuser_lezione.pk %}">{{ commento.gymuser_lezione.username }}</a></span>
                                        <h6><span class="badge badge-success">Staff</span></h6>
                                    {% else %}
                                        <span data-abc="true">by {{ commento.gymuser_lezione.username }}</span>
                                    {% endif %}
                                    <div class="text-muted small">{{ commento.creato }}</div>
                                </div>
                            </div>
                            <div class="card-body col-sm-10" style="float: left">
                                <span>{{ commento.testo }}</span>
                                {% if user.id == commento.gymuser_lezione.id %}
                                    <span class="buttons">
                                                <button style="text-decoration: none; color:orange" class="delete-commento" type="button" data-url="{% url 'forum:delete_commento' commento.pk %}"><i class="fas fa-window-close"></i></button>
                                                <button style="text-decoration: none; color:orange" class="update-commento" type="button" data-url="{% url 'forum:update_commento' commento.pk %}"><i class="fas fa-edit"></i></button>
                                            </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        <button type="button" class="btn btn-primary crea-commento my_btn" style="margin-right: auto" data-url="{% url 'forum:crea_commento' %}">
            Commenta
        </button>
        <div class="modal fade" id="modal-commento">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    data: {
                        'id' : {{ topic.id }}
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-commento .modal-content").html("");
                        $("#modal-commento").modal("show");
                    },
                    success: function (data) {
                        $("#modal-commento .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                var data = form.serializeArray();
                data.push({name: "id", value: {{topic.id}}});
                $.ajax({
                    url: form.attr("action"),
                    data: data,
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            location.reload()
                        }
                        else {
                            $("#modal-commento .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };


            // Crea commento
            $(".crea-commento").click(loadForm);
            $("#modal-commento").on("submit", ".crea-commento-form", saveForm);

            // Update commento
            $(".delete-commento").click(loadForm);
            $("#modal-commento").on("submit", ".update-commento-form", saveForm);

            //Delete commento
            $(".update-commento").click(loadForm);
            $("#modal-commento").on("submit", ".delete-commento-form", saveForm);
        });
    </script>
{% endblock %}