{% load widget_tweaks %}
<form method="post" action="{% url 'forum:update_commento' form.instance.pk %}" class="update-commento-form">
    {% csrf_token %}
    <div class="modal-header">
        <h6 class="modal-title">Modifica commento</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-primary" value="Refresh Page" onclick="window.location.reload();">Aggiorna</button>
    </div>
</form>