{% extends 'base.html' %}
{% load static %}
{% block title %}Contatti{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img8.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-4 col-xl-4 py-2">
                <div class="card h-100">
                    <div class="card-info">
                        <h4 class="card-title">{{'Contattaci:'}}</h4>
                        <ul>
                            <li>Email: info@energym.com</li>
                            <li>Tel: 059/909012</li>
                            <li>Cellulare: 345/7685990</li>
                            <div align="right">
                                <a type="button" class="btn btn-secondary my_btn" href="{% url 'gestione_palestra:homepage' %}">Indietro</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}