{% extends 'base.html' %}
{% load static %}
{% block title %}Corsi{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .card:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="padding: 20px">
            {% for corso in Corsi %}
                <div class="col-md-6 col-lg-4 col-xl-4 py-2">
                    <div class="card h-100">
                        <div class="card-info">
                            <h4 class="card-title">{{corso.nome}}</h4>
                            <div class="card-img-container">

                            </div>
                            <p class="card-text">{{corso.descrizione}}</p>
                        </div>
                        <div class="card-button">
                            <a href="{% url 'gestione_palestra:corso_info' corso.id %}" class="btn btn-primary my_btn">Vai alla pagina dedicata a {{ corso.nome }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}