{% extends 'base.html' %}
{% load static %}
{% block title %}{{ corso.nome }}{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h4>{{corso.nome}}</h4>
        <p>{{corso.descrizione}}</p>
        <div align="right">
            <a href="{% url 'gestione_palestra:corsi' %}" class="btn btn-primary my_btn">Torna ai corsi</a>
        </div>
    </div>
{% endblock %}