{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block style %}
    <style>
        body {
            background: url('{% static 'img/img2.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

         #img img {
            max-width: 100%;
            max-height: 100%;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 20px; align-items: center">
            {% for photo in photos %}
                <div class="col-md-3 col-lg-4 col-xl-4 py-2">
                    <div id="img">
                        <img src="{{ photo.photo_path.url }}" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
