{% extends 'base.html' %}
{% load static %}
{% block title %}{{ corso.nome }}{% endblock %}
{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .img{
            height: 180px;
            width: 180px;
            object-fit: cover;
            border-radius: 50%;
        }

        #descrizione{
            background-color: rgba(255,255,255, 0.7);
            border-radius: 10px;
        }

        #dati{
            background-color: rgba(255,255,255, 0.7);
            border-radius: 10px;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <div>
            <h1 align="center" style="padding-bottom: 20px">{{insegnante.first_name}} {{insegnante.last_name}}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="container-fluid">
                        <div  class="col-sm-2" style="float: left">
                            <div id="dati">
                                <p><b>I miei corsi:</b></p>
                                <ul>
                                    {% for corso in corsi %}
                                        <li><p><a href="{% url 'gestione_palestra:corso_info' corso.id %}">{{ corso.nome }}</a></p></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="descrizione" class="col-sm-8" style="float: left">
                            <p><b>Qualcosa su di me:</b> {{ insegnante.descrizione_per_insegnante }}</p>
                            <p>Nome: <b>{{ insegnante.first_name }}</b></p>
                            <p>Cognome: <b>{{ insegnante.last_name }}</b></p>
                            <p>Username: <b>{{ insegnante.username }}</b></p>
                            <p>Email: {{ insegnante.email }}</p>
                        </div>
                        <div class="col-sm-2" style="float: left; text-align: center">
                            <img class="img" src="{{ insegnante.profile_img.url }}" />
                            <br>
                            <br>
                            <a type="button" class="btn btn-secondary my_btn" href="{% url 'gestione_palestra:insegnanti' %}">Indietro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock%}