{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #submit-id-submit{
            margin-top: 20px;
        }

        #div_id_profile_img{
            margin-top: 10px;
        }

        {% if not user.is_insegnante %}
            #div_id_descrizione_per_insegnante{
                display: none;
            }
        {% endif %}

    </style>
{% endblock %}
{% block title  %}Modifica profilo {{ object.username }}{% endblock %}
{% block body %}
    <div class="main">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock %}