{% extends 'base.html' %}
{% load static %}
{% block title %}{{ news.titolo }}{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h4>{{news}}</h4>
        <p>{{news.descrizione}}</p>
        <div align="right">
            <a type="button" class="btn btn-secondary my_btn" href="{% url 'gestione_palestra:homepage' %}">Indietro</a>
        </div>
    </div>
{% endblock %}