<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for utente in object_list %}
    {{ utente.nome }} {{ utente.cognome }} <br>
{% endfor %}
</body>
</html>