{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img7.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container mt-5" align="center">
        <form method="post"> {% csrf_token %}
            <h2>Entra nella nostra community!</h2>
            {{ form|crispy }}
            <input  class="btn btn-primary mt-2 my_btn" type="submit" value="Login" >
            <br>
            <br>
             <a type="link" class="btn btn-primary" href="{% url 'gestione_palestra:registrazione' %}"> Non ti sei ancora registrato?</a>
        </form>
    </div>
{% endblock %}