{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Registrazione{% endblock %}

{% block style %}
    <style>

        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #div_id_profile_img{
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <div style="margin:auto">
            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                {{ form | crispy }}
                <input type="submit"  class="btn btn-success" value="Save" >
                <a type="button" class="btn btn-secondary my_btn" href="{% url 'gestione_palestra:homepage' %}">Indietro</a>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $('#id_username').change(function() {
            console.log($(this).val());
            $.ajax({
                type: 'GET',
                url: '{% url 'gestione_palestra:check-username-unique' %}',
                data: {
                    'username' : $(this).val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.is_not_unique){
                        alert('Questo username esiste già!');
                    }
                }
            })
        })
    </script>
{% endblock %}