.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar {
    background-color: orange;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link:hover {
    background-color: rgba(255,255,255, 0.6);

}

.card {
    position: relative;
    padding:20px;
    background-color: rgba(255,255,255, 0.9);
}

.card-title {
    font-family: "Arial Black";
}

.card-text {
    font-size: 14px;
    font-family:  Bahnschrift;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.card-button{
    align-self: center;
    padding-top: 15px;
    margin-top: auto;
}

.my_btn {
    background-color: orange!important;
    border-color: orange!important;
}

.my_btn:hover{
    background-color: darkorange!important;
    border-color: darkorange!important;
}

.main {
    background-color: rgba(255,255,255, 0.6);
    padding:20px;
    margin: 20px;
}
