<form method="post" action="{% url 'lezioni:crea_lezione' %}" class="crea-lezione-form">
    {% csrf_token %}
    <div class="modal-header">
        <h6 class="modal-title">Crea lezione</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'lezioni/lezione_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-primary">Aggiungi</button>
    </div>
</form>