{% extends 'base.html' %}
{% load static %}
{% block title %}Lezioni{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img10.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #bodytable{
            background-color: rgba(255, 255, 255, 0.8);
        }

    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h1 align="center" style="padding-bottom: 10px">Lezioni in programma</h1>
        <span class="col-sm-3">
            <form class="form-inline" method="GET" action="">
                <input class="form-control" type="text" name="q" id="myInput" value="{{ request.GET.q }}" aria-label="Search" placeholder="Cerca lezioni..."/>
                <input class="btn btn-success" type="submit" value="Cerca"/>
            </form>
        </span>
        <table class="table table-striped" id="table-data" style="width:100%">
            <thead>
            <tr>
                <th class="text-center">Corso</th>
                <th class="text-center">Istruttore</th>
                <th class="text-center">Descrizione</th>
                <th class="text-center">Posti Disponibili</th>
                <th class="text-center">Quando?</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody id="bodytable">
            {% for lezione in lezioni %}
                <tr>
                    <td class="text-center"><a href="{% url "gestione_palestra:corso_info" lezione.insegnantecorso.corso.pk %}" target="_blank">{{ lezione.insegnantecorso.corso.nome }}</a></td>
                    <td class="text-center"><a href="{% url "gestione_palestra:insegnante_info" lezione.insegnantecorso.insegnante.pk %}" target="_blank">{{ lezione.insegnantecorso.insegnante.last_name }}</a></td>
                    <td class="text-center">{{ lezione.descrizione }}</td>
                    <td class="text-center">{{ lezione.return_posti_rimasti }}/{{ lezione.posti_disponibili_tot }}</td>
                    <td class="text-center">{{ lezione.data }}</td>

                    {% if lezione.non_disponibile %}
                        <td class="text-center">
                            <a style="color:white" type="button" class="btn btn-warning">Non disponibile</a>
                        </td>
                    {% else %}
                        {% if lezione in lezioni_prenotate%}
                            <td class="text-center">
                                <a style="color:white" type="button" class="btn btn-success">Iscritto</a>
                            </td>
                        {% elif lezione.posti_finiti %}
                            <td class="text-center">
                                <a style="color:white" type="button" class="btn btn-danger">Posti esauriti</a>
                            </td>
                        {% else %}
                            <td class="text-center">
                                <a type="button" class="btn btn-secondary my_btn" style="color: white" onclick="AddPrenot({{user.id }},{{ lezione.id }})">Iscriviti</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center bg-warning">Nessuna lezione in programma</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function AddPrenot(user,lezione) {
            var action = confirm("Vuoi iscriverti alla lezione?");
            if (action != false) {
                $.ajax({
                    url: '{% url "lezioni:prenota" %}',
                    data: {
                        'user': user,
                        'lezione':lezione
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.added){
                            $("#table-data").load(window.location + " #table-data");
                        }
                    }
                });
            }
        }
    </script>

{% endblock %}

{% block script %}
{% endblock %}