{% for lezione in lezioni %}
    <tr>
        <td class="text-center">{{ lezione.insegnantecorso.corso.nome }}</td>
        <td class="text-center">{{ lezione.descrizione }}</td>
        <td class="text-center">{{ lezione.return_posti_rimasti }}/{{ lezione.posti_disponibili_tot }}</td>
        <td class="text-center">{{ lezione.data }}</td>
        <td class="text-center">
            <button type="button" class="btn btn-primary update-lezione" data-url="{% url 'lezioni:update_lezione' lezione.pk %}">
                Modifica
            </button>
            <button type="button" class="btn btn-danger delete-lezione" data-url="{% url 'lezioni:delete_lezione' lezione.pk %}">
                Rimuovi
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">Nessuna lezione in programma</td>
    </tr>
{% endfor %}