{% extends 'base.html' %}
{% load static %}
{% block title %}Lezioni{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img4.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="main">
        <h1 align="center" style="padding-bottom: 20px">Lezioni prenotate</h1>
        <table class="table table-striped" style="background-color: rgba(255,255,255, 0.8);" id="table-data" style="width:100%">
            <thead>
            <tr>
                <th class="text-center">Corso</th>
                <th class="text-center">Istruttore</th>
                <th class="text-center">Descrizione</th>
                <th class="text-center">Quando?</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody id="bodytable">
            {% for prenotazione in lezioni %}

                <tr id="{{ prenotazione.id }}">
                    <td class="text-center"><a href="{% url "gestione_palestra:corso_info" prenotazione.lezione.insegnantecorso.corso.pk %}" target="_blank">{{  prenotazione.lezione.insegnantecorso.corso.nome }}</a></td>
                    <td class="text-center"><a href="{% url "gestione_palestra:insegnante_info" prenotazione.lezione.insegnantecorso.insegnante.pk %}" target="_blank">{{ prenotazione.lezione.insegnantecorso.insegnante.last_name }}</a></td>
                    <td class="text-center">{{  prenotazione.lezione.descrizione }}</td>
                    <td class="text-center">{{  prenotazione.lezione.data }}</td>
                    {% if prenotazione.lezione.non_disponibile %}
                        <td class="text-center">
                            <a type="button" class="btn btn-success" style="color:white">Trascorsa</a>
                        </td>
                    {% else %}
                        <td class="text-center">
                            <a type="button" class="btn btn-danger my_btn" style="color:white" onclick="deletePrenot({{ prenotazione.id }})">Non posso partecipare</a>
                        </td>
                    {% endif %}

                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center bg-warning">Nessuna lezione prenotata</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function deletePrenot(id) {
            var action = confirm("Cancellare l'iscrizione?");
            if (action != false) {
                $.ajax({
                    url: '{% url "lezioni:delete_prenotazione" %}',
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {
                            $("#table-data #text-" + id).remove();
                        }
                        $("#table-data").load(window.location + " #table-data");
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block script %}
{% endblock %}